.nav_main{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0px;
}
.nav_main>div:first-child>img{
 width: 160px;
}
.nav_main>div>ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    color:#8f909b;

}
.nav_main>div>ul>li{
 margin-right: 45px;
  
}

.nav_main>div>ul>li:hover{
    background-color: rgb(228, 213, 213);
    cursor:pointer;
}
.nav_main>div>button:first-child{
    margin-right: 10px;
}
/* dropdown layout */
.nav_main>div>ul{
   position: relative;

}
.nav_main>div>ul>li>ul{
  display: none;
  padding: 0px;
  
}
.nav_main>div>ul>li:hover ul{ 
   position: fixed; 
    left:395px;
   display: block;
   width: 310px;
   height: auto;
   /* background-color: black; */
   list-style-type: none;
   text-align: center;
   /* border: 1px solid red; */
   margin: auto;
   overflow-y: hidden;
}
.nav_main>div>ul>li>ul{
    margin:auto;
    text-align: center;
    /* background-color: blue;  */
}
.nav_main>div>ul>li>ul>li{
    padding:20px;
}
.nav_main>div>ul>li>ul>li:hover{
 background-color: rgb(237, 248, 237);
 
}
/* second drop down of product =====================*/

.nav_main>div>ul>li>ul>.product_ul_1st_subdrop{
 position: relative;
}
.nav_main>div>ul>li>ul>li>.product_opt_ch1_sub_menu>ul{
    display: none;
    
}
    
    

.nav_main>div>ul>li>ul>.product_ul_1st_subdrop:hover .product_opt_ch1_sub_menu>ul{
  
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: space-around;
   align-items: center;
   /* background-color: black; */
   border: 1px solid orange;
   position: fixed;
   top:50px;
   left:701px;
   width: 43vw;
   height: auto;
}   
.nav_main>div>ul>li>ul>li>.product_opt_ch1_sub_menu>ul>li{
    padding:25px;
    font-size: 13px;
}
.nav_main>div>ul>li>ul>li>.product_opt_ch1_sub_menu>ul>li:hover{
 background-color: rgb(244, 248, 247)
}
.nav_main>div>ul>li>ul>li>.product_opt_ch1_sub_menu>ul>li>h4{
    margin:0px;
    margin-bottom: 5px;

}

   
